
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.subtitulos{
    color: #040404bf;
    font-size: 2rem;
    margin-bottom: 2%;
}

/*seccion header*/
header{
    background-image: url(../Assets/images/banner-bk.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 31rem;
}
nav img{
    width: 8%;
}

.encabezado{
    width: 43%;
    margin-top: 7%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.encabezado h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.encabezado p{
    font-size: 0.9rem;
    max-width: 95%;
}

.encabezado button{
    background-color: #00ffc8;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-top: 7%;
    font-weight: 700;
}

/*seccion uno*/
.seccionUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 7%;
}

.fichasUno{
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.fichasUno img{
    width: 38%;
    display: block;
}

.fichas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 26%;
    height: 31vh;
}

.fichas p{
    font-size: 0.9rem;
    text-align: center;
}

/*seccion main*/
main{
    background: linear-gradient(-10deg, #19d3a2 64%, #ffffff 0%);
}

main p{
    font-size: 0.8rem;
}

main img{
    width: 22%;
    height: 29vh;
}

/*seccion dos*/
.seccionDos{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.contenedor{
    max-width: 44%;
}

.contenedor p{
    max-width: 75%;
    margin-bottom: 3%;
}

.contenedor button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

.seccionDos img{
    display: block;
    max-height: 31vh;
}

/*seccion tres*/
.seccionTres{
    display: flex;
    justify-content: flex-end;
    min-height: 40vh;
    gap: 50px;
}
.seccionTres p{
    max-width: 75%;
    margin-bottom: 4%;
}

.contenedorTres{
    width: 41%;
}

.seccionTres button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

/*seccion cuatro*/
.seccionCuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.fichasDos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    min-height: 54vh;
}

.uno{
    max-width: 21%;
    min-height: 63vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.uno p{
    min-height: 12vh;
    max-width: 65%;
}


.uno button{
    background: transparent;
    padding: 11px 21px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #00093d;
    border: 1px solid #080845;
}

.pesos{
    font-size: 2.9rem;
    font-weight: 700;
}

.premium{
    background: #1e2a47;
    color: white;
}

.premium p{
    color: white;
}

.premium button{
    background: #00d084;
    border: none;
    color: white;
}

/*Seccion imagenes*/
.imagenes{
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
    background-color: #e3e8eb;
    gap: 5rem;
}

/*seccion cinco*/
.seccionCinco{
    display: flex;
    justify-content: space-evenly;
    min-height: 79vh;
    align-items: center;
    background-image:url(../Assets/images/contact-bk.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.contenedorCinco{
    width: 30%;
    color: white;
    font-size: 0.9rem;
}

.contenedorCinco p{
    line-height: 1.8;
    font-size: 1rem;
}

.subtituloContendorCinco{
    color: white;
    font-size: 2.9rem;
    margin-bottom: 4%;
}

/*formulario*/
.datos{
    display: flex;
    gap: 20px;
}

.input-groupo{
    display: flex;
    flex-direction: column;
}

label{
    color: #00e6a8;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
textarea{
    background: transparent;
    border: 2px solid #00e6a8;
    padding: 12px;
    border-radius: 6px;
    color: white;
}

button{
    margin-top: 10px;
    padding: 2% 44%;
    border: none;
    border-radius: 30px;
    background: #00e6a8;
    color: #003333;
    font-weight: bold;
}

/*footer*/
footer{
    display: flex;
    height: 20vh;
    background-color: #121238;
    gap: 9rem;
    justify-content: space-around;
    align-items: center;
}

footer .redes{
    display: flex;
    gap: 1rem;
}

footer .textoFooter{
    color: white;
    font-size: 0.8rem;
}

/*medias Queris*/
@media (max-width:1279){
    .imagenes {
        gap: 3rem;
}
}

@media (max-width:920){

}

@media (max-width:768){

}

@media (max-width:480){

}