
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.subtitulos{
    color: #040404bf;
    font-size: 2rem;
    margin-bottom: 2%;
}

header{
    background-image: url(../Assets/images/banner-bk.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    height: 75vh;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 31rem;
}

.encabezado{
    width: 43%;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.encabezado h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.encabezado p{
    font-size: 0.9rem;
    max-width: 95%;
}

.encabezado button{
    background-color: #00ffc8;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-top: 7%;
    font-weight: 700;
}

.seccionUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 7%;
}

.fichasUno{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.fichasUno img{
    width: 50%;
    display: block;
}

.fichas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 26%;
    height: 31vh;
}

.fichas p{
    font-size: 1.2rem;
    text-align: center;
}

main{
    background: linear-gradient(-10deg, #19d3a2 66%, #ffffff 0%);
}

.seccionDos{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.contenedor{
    max-width: 44%;
}

.contenedor p{
    max-width: 75%;
    margin-bottom: 4%;
}

.contenedor button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

.seccionDos img{
    display: block;
    max-height: 31vh;
}

.seccionTres{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}
.seccionTres p{
    max-width: 75%;
    margin-bottom: 4%;
}

.seccionTres button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

.fichasDos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    min-height: 54vh;
}

.uno{
    width: 21%;
    text-align: center;
    margin-top: 3%;
}

.uno h3{
    margin-top: 16%;
    margin-bottom: 8%;
}

.uno button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    margin-top: 15%;
}

.uno p{
    margin: 10% 25%;
}

.pesos{
    font-size: 2.9rem;
    font-weight: 700;
}

.imagenes{
    display: flex;
    justify-content: space-around;
}

.seccionCuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
