
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.subtitulos{
    color: #040404bf;
    font-size: 2rem;
    margin-bottom: 2%;
}

/*seccion header*/
header{
    background-image: url(../Assets/images/banner-bk.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 72vh;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 31rem;
}
nav img{
    width: 7%;
}

nav p{
    font-size: 1rem;
}

.encabezado{
    width: 43%;
    margin-top: 7%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.encabezado h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.encabezado p{
    font-size: 0.9rem;
    max-width: 95%;
}

.encabezado button{
    background-color: #00ffc8;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-top: 7%;
    font-weight: 700;
}

/*seccion uno*/
.seccionUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 7%;
}

.fichasUno{
    display: flex;
    justify-content: center;
    min-height: 38vh;
}

.fichasUno img{
    width: 38%;
    display: block;
}

.fichas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 26%;
    height: 31vh;
}

.fichas p{
    font-size: 0.9rem;
    text-align: center;
}

/*seccion main*/
main{
    background: linear-gradient(-10deg, #19d3a2 56%, #ffffff 0%);
}

main p{
    font-size: 0.8rem;
}

main img{
    display: block;
    max-width: 20%;
    max-height: 19vh;
}

/*seccion dos*/
.seccionDos{
    display: flex;
    justify-content: center;
    min-height: 24vh;
}

.contenedor{
    max-width: 44%;
}

.contenedor p{
    max-width: 75%;
    margin-bottom: 3%;
}

.contenedor button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

/*seccion tres*/
.seccionTres{
    display: flex;
    justify-content: flex-end;
    min-height: 23vh;
    gap: 38px;
}
.seccionTres p{
    max-width: 75%;
    margin-bottom: 4%;
}

.contenedorTres{
    width: 41%;
}

.seccionTres button{
    background-color: #052738;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

/*seccion cuatro*/
.seccionCuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.fichasDos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    min-height: 54vh;
}

.uno{
    max-width: 21%;
    min-height: 54vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.uno p{
    min-height: 12vh;
    max-width: 65%;
}


.uno button{
    background: transparent;
    padding: 11px 21px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #00093d;
    border: 1px solid #080845;
}

.pesos{
    font-size: 2.9rem;
    font-weight: 700;
}

.premium{
    background: #1e2a47;
    color: white;
}

.premium p{
    color: white;
}

.premium button{
    background: #00d084;
    border: none;
    color: white;
}

/*Seccion imagenes*/
.imagenes{
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
    background-color: #e3e8eb;
    gap: 5rem;
}

/*seccion cinco*/
.seccionCinco{
    display: flex;
    justify-content: space-evenly;
    min-height: 79vh;
    align-items: center;
    background-image:url(../Assets/images/contact-bk.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.contenedorCinco{
    width: 30%;
    color: white;
    font-size: 0.9rem;
}

.contenedorCinco p{
    line-height: 1.8;
    font-size: 1rem;
}

.subtituloContendorCinco{
    color: white;
    font-size: 2.9rem;
    margin-bottom: 4%;
}

/*formulario*/
.datos{
    display: flex;
    gap: 20px;
}

.input-groupo{
    display: flex;
    flex-direction: column;
}

label{
    color: #00e6a8;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
textarea{
    background: transparent;
    border: 2px solid #00e6a8;
    padding: 12px;
    border-radius: 6px;
    color: white;
}

button{
    margin-top: 10px;
    padding: 2% 44%;
    border: none;
    border-radius: 30px;
    background: #00e6a8;
    color: #003333;
    font-weight: bold;
}

/*footer*/
footer{
    display: flex;
    height: 10vh;
    background-color: #121238;
    gap: 9rem;
    justify-content: space-around;
    align-items: center;
}

footer .redes{
    display: flex;
    gap: 1rem;
}

footer .textoFooter{
    color: white;
    font-size: 0.8rem;
}

/*medias Queris*/
@media (max-width: 999px){
    main img { 
        max-height: 16vh;
    }

    .fichasUno {
        min-height: 50vh;
    }

    .fichasDos {
    min-height: 44vh;
    }

    .uno {
        max-width: 30%;
        min-height: 44vh;
    }

    .imagenes {
        gap: 2rem;
    }
}

@media (max-width:813px){
    header {
        min-height: 51vh;
    }

    .seccionUno {
        margin-bottom: 0%;
    }

    .encabezado {
        width: 55%;
    }

    .encabezado h1 {
        font-size: 2rem;
    }
    .fichas {
        width: 21%;
        height: 24vh;
    }

    .fichasUno {
        gap: 15px;
    }

    .contenedor {
        max-width: 50%;
    }

    main img {
        max-height: 13vh;
    }

    main {
        background: linear-gradient(-10deg, #19d3a2 61%, #ffffff 0%);
    }

    h3{
        text-align: center;
    }

    .imagenes {
        padding: 2rem 0rem;
        gap: 1rem;
    }

    .subtituloContendorCinco {
        font-size: 1.5rem;
    }

    .contenedorCinco p {
        line-height: 1.8;
        font-size: 0.7rem;
    }

    .seccionCinco {
        min-height: 44vh;
    }
    
}

@media (max-width:743px){
    header {
        min-height: 40vh;
    }
    
    nav {
        gap: 7rem;
        justify-content: space-around;
    }

    .encabezado h1 {
        font-size: 1.2rem;
    }

    .encabezado p {
        font-size: 0.8rem;
    }

    .subtitulos {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    .fichas p {
        font-size: 0.7rem;
    }

    .subtitulos {
        font-size: 1.2rem;
    }

    .contenedor {
        max-width: 58%;
    }

    .contenedor p {
        max-width: 97%;
        margin-bottom: 3%;
    }

    main img {
        
        margin-top: 4%;
    }

    main img {
        margin-top: 4%;
    }

    .seccionTres p {
        max-width: 95%;
    }

    .pesos {
        font-size: 2rem;
    }

    .uno p {
        font-size: 0.8rem;
        min-height: 7vh;
    }

    .uno button {
        padding: 8px 17px;
    }

    .imagenes img{
        width: 16%;
    }

    .subtituloContendorCinco {
        font-size: 1.3rem;
    }

    label {
        font-size: 0.8rem;
    }

    input, textarea {
        padding: 2px;
    }

    button {
        padding: 2% 39%;
    }

    .seccionCinco {
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .contenedorCinco {
        width: 73%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .formulario{
        margin-bottom: 3%;
    }

    footer {
        gap: 2rem;
    }

}

@media (max-width:480px){
    nav p {
        font-size: 0.6rem;
    }

    .encabezado h1 {
        font-size: 1rem;
    }

    .encabezado button {
        font-size: 0.6rem;
        margin-top: 3%;
    }

    .encabezado p {
        font-size: 0.6rem;
    }

    .encabezado {
        width: 70%;
    }

    .subtitulos {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    .fichas p {
        font-size: 0.6rem;
    }

    .fichasUno {
        min-height: 40vh;
    }

    .fichasUno img {
        width: 70%;
    }

    .contenedor p{
        font-size: 0.6rem; 
    }

    main img {
        max-height: 10vh;
    }

    main img {
        margin-top: 11%;
    }

    .contenedorTres {
        width: 50%;
    }

    .contenedorTres p {
        font-size: 0.6rem;
    }

    .contenedor button {
        padding: 2.5%;
        font-size: 0.5rem;
    }

    .contenedorTres button{
        padding: 2.5%;
        font-size: 0.5rem;
    }

    .pesos {
        font-size: 1.5rem;
    }

    .uno p {
        font-size: 0.6rem;
    }

    .uno button {
        font-size: 0.6rem;
    }

    .uno button {
        padding: 2px 4px;
    }

    .imagenes {
        padding: 1rem 0rem;
    }

    .subtituloContendorCinco {
        font-size: 1rem;
    }

    .contenedorCinco p {
        font-size: 0.6rem;
    }

    .datos {
        gap: 5px;
    }

    button {
        padding: 1% 42%;
    }

    footer {
        gap: 0.6rem;
    }

    .textoFooter p{
        font-size: 0.6rem;
    }
}